<mat-card>

	<form [formGroup]="professionalDetailFormGroup">

		<mat-form-field>
			<input matInput placeholder="Months" formControlName="month">
		</mat-form-field>

		<mat-form-field>
			<input matInput placeholder="Years" formControlName="year">
		</mat-form-field>

		<mat-form-field >
			<mat-select placeholder="Skills" formControlName="skillIds" multiple name="skillIds">
			   <mat-option *ngFor="let skill of skillList" [value]="skill.Id"> {{skill.Name}}</mat-option>
			</mat-select>
		  </mat-form-field>

		<stepper-footer></stepper-footer>
		<mat-card-actions>
			<button mat-raised-button matStepperPrevious>Back</button>
			<button mat-raised-button class="nav-btn pull-right">Finish</button>
		</mat-card-actions>

	</form>

</mat-card>