<div class="m-3">
    <form>
      <div class="form-group form-inline">
        Search: 
  <input class="form-control ml-2 set-search" type="text" name="searchTerm" [(ngModel)]="searchTerm"
          (input)="search($event)" />
      </div>
    </form>
    <button class="btn btn-primary set-btn" [routerLink] = "['/manageTeam']">Add</button>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" sortable="Id" hidden>Id</th>
          <th scope="col" sortable="FirstName">Name</th>
          <th scope="col" sortable="Department">Department</th>
          <th scope="col" sortable="Designation">Designation</th>
        </tr>
      </thead>
      <tbody>
      
          <tr class="clickable"
          [routerLink]="['/manageTeam', emp.Id]"
          *ngFor="let emp of employees  | slice: (page-1) * pageSize : page * pageSize">
          <td hidden> {{ emp?.Id }} </td>
          <td>{{ emp?.FirstName  }} {{ emp?.LastName }} </td>
          <td>{{ emp.CurrentStatus[0].Department }}</td>
          <td> {{ emp.CurrentStatus[0].Designation }} </td>
        </tr>
      </tbody>
    </table>
  
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="5" 
      [pageSize]="pageSize" class="d-flex justify-content-center"></ngb-pagination>
  </div>