<div id="employee">
	<form id="empForm" [formGroup] = "employeeForm">
		<mat-horizontal-stepper linear #stepper>
			<mat-step [stepControl]="employeeForm.get('personalDetailFormGroup')?.value" formGroupName = "personalDetailFormGroup" >
				<ng-template matStepLabel>Personal Details</ng-template>
				<personal-details [empForm] = "employeeForm"></personal-details>
			</mat-step>

			<mat-step [stepControl]="employeeForm.get('bankDetailFormGroup')?.value" formGroupName = "bankDetailFormGroup">
				<ng-template matStepLabel>Bank Details</ng-template>
			<bank-detail [empForm] = "employeeForm"></bank-detail>
			</mat-step>

			<mat-step [stepControl]="employeeForm.get('professionalDetailFormGroup')?.value" formGroupName = "professionalDetailFormGroup">
				<ng-template matStepLabel>Professional Details</ng-template>
			<professional-details [empForm] = "employeeForm"></professional-details>
			</mat-step>

			<mat-step [stepControl]="employeeForm.get('currentStatusFormGroup')?.value" formGroupName = "currentStatusFormGroup">
				<ng-template matStepLabel>Current Status</ng-template>
				<current-status [empForm] = "employeeForm"></current-status>
			</mat-step>

			<mat-step [stepControl]="employeeForm.get('experienceDetailFormGroup')?.value" formGroupName = "experienceDetailFormGroup">
				<ng-template matStepLabel>Experience Detail</ng-template>
				<experience-detail [empForm] = "employeeForm" 
				(addExperienceDetail) ="addExperienceDetail()"
				(removeExperienceDetail) = "removeExperienceDetail($event)" >
			</experience-detail>
			</mat-step>

			<mat-step [stepControl]="employeeForm.get('educationDetailFormGroup')?.value" formGroupName = "educationDetailFormGroup">
				<ng-template matStepLabel>Education Detail</ng-template>
				<education-detail [empForm] = "employeeForm"
				(addEducationDetail) = "addEducationDetail()"
				(removeEducationDetail) = "removeEducationDetail($event)" >
				</education-detail>
			</mat-step>
			
		</mat-horizontal-stepper>
	</form>
</div>